; vim: set fileencoding=utf-8 :
; Manuel Guenther <manuel.guenther@idiap.ch>
; Thu Oct  9 16:51:06 CEST 2014

[buildout]
parts = scripts
eggs = bob.extension
       bob.db.atnt
       bob.learn.tensorflow

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.extension
          src/bob.db.atnt
          .

; options for bob.buildout
debug = false
verbose = true
newest = false


[sources]
bob.extension = git git@gitlab.idiap.ch:bob/bob.extension.git
bob.db.atnt = git git@gitlab.idiap.ch:bob/bob.db.atnt.git


[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
