setuptools
docopt
bob.blitz
bob.core
bob.db.base
bob.extension
bob.io.base
bob.io.image
bob.learn.activation
bob.learn.em
bob.learn.linear
bob.ip.base
bob.math
bob.measure
bob.sp
bob.db.mnist
bob.db.atnt
gridtk
bob.bio.base
numpy
scipy
click >= 7
